<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Giriş Yap</title>
</head>
<body>
<div class="login-box">
    <div class="login-header">
        <header>Giriş Yap</header>
    </div>
    <div class="input-box">
        <input type="text" class="input-field" placeholder="Email" autocomplete="off" required>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" placeholder="Şifre" autocomplete="off" required>
    </div>
    <div class="forgot">
        <section>
            <input type="checkbox" id="check">
            <label for="check">Beni Hatırla</label>
        </section>
        <section>
            <a href="#">Şifremi Unuttum</a>
        </section>
    </div>
    <div class="input-submit">
        <button class="submit-btn" id="submit"></button>
        <label for="submit">Giriş Yap</label>
    </div>
    <div class="sign-up-link">
        <p>Hesabınız Yok Mu? <a href="#">Kayıt Ol</a> </p>
    </div>
</div>
</body>
</html>